//
//  production.xcconfig
//  CNTIOSBootstrapApp
//
//  Created by Neil Francis Hipona on 4/18/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-CNTIOSBootstrapApp/Pods-CNTIOSBootstrapApp.release (production).xcconfig"

APP_NAME = PRODUCTION-SwiftUI Boilerplate // PRODUCT_NAME
APP_IDENTIFIER = com.cnt.SwiftUI-Boilerplate // PRODUCT_BUNDLE_IDENTIFIER
APP_ICON_CATALOG = AppIconProduction

APP_ENV = development
APP_ROOT_URL = https:\/\/picsum.photos
